.container-card {
    border: 1px solid white;
}

.full-card {
    display: flex;
    text-align: left;
}

.sidebar {
    color: white;

    margin-right: 2rem;
    height: max-content;
    width: fit-content;
}