@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500&family=Ubuntu:wght@300;400&display=swap');


body {
  margin: 0;
  
}

h1 {
  font: Ubuntu;
  font-size: 48px; 
}

h2 {
  font-family: 'Gilroy', fallback, sans-serif;
  font-size: 28px;
}

 h3, h4, h5, h6 {
  font-family: 'SFProRegular', fallback, sans-serif;
  font-size: 20px;
 }


@font-face {
  font-family: 'Gilroy';
  src: url('./Public/Gilroy-ExtraBold.otf') format('opentype');
  /* You can add other font properties here, such as font-weight, font-style, etc. */
}
@font-face {
  font-family: 'SF Pro Display Bold';
  src: url('./Public/San\ Francisco\ Pro\ Display/SF-Pro-Display-Bold.otf') format('opentype');
  /* You can add other font properties here, such as font-weight, font-style, etc. */
}

@font-face {
  font-family: 'SFProRegular';
  src: url('./Public/San\ Francisco\ Pro\ Display/SF-Pro-Display-Regular.otf') format('opentype');
  /* You can add other font properties here, such as font-weight, font-style, etc. */
}